/* Importing Fonts */
@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap");

/* CSS Variables */
:root {
  --dark-cyan: hsl(158, 36%, 37%);
  --very-dark-cyan: hsl(156, 59%, 25%);
  --cream: hsl(30, 38%, 92%);
  --very-dark-blue: hsl(212, 21%, 14%);
  --dark-grayish-blue: hsl(228, 12%, 48%);
  --white: hsl(0, 0%, 100%);
}

/* Base */
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Styling */
body {
  font-size: 0.875rem; /* 14px */
  background-color: var(--cream);
  font-family: Montserrat, Arial, Helvetica, sans-serif;
}

.design-container {
  display: grid;
}

.card-container {
  margin: auto;
  width: 92%;
  height: 88%;
  border-radius: 10px;
}

/* Product Image */
.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-image-mobile {
  border-radius: 10px 10px 0px 0px;
  width: 100%;
  height: 14.4rem;
}

.product-image-desktop {
  display: none;
}

/* Product Details */
.details-container {
  padding: 1.35rem 1.25rem;
  border-radius: 0px 0px 10px 10px;
  background-color: var(--white);
}

.product-type {
  font-weight: 500;
  letter-spacing: 0.3rem;
  font-size: 0.7rem;
  text-transform: uppercase;
  color: var(--dark-grayish-blue);
}

.product-name {
  margin-top: 0.65rem;
  margin-bottom: 0.7rem;
  line-height: 1.1;
  font-family: Fraunces;
  font-weight: 700;
  color: var(--very-dark-blue);
  font-size: 1.9rem;
}

.product-description {
  color: var(--dark-grayish-blue);
  line-height: 1.56;
  font-weight: 500;
  width: 97%;
  margin-bottom: 1.25rem;
}

.price-container {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.sale-price {
  color: var(--dark-cyan);
  font-family: Fraunces;
  font-size: 1.9rem;
}

.regular-price {
  color: var(--dark-grayish-blue);
  font-size: 0.8rem;
  font-weight: 500;
  text-decoration: line-through;
  padding-bottom: 0.1rem;
  padding-left: 1.1rem;
}

.cart-btn {
  width: 100%;
  padding-top: 0.875rem;
  padding-bottom: 0.875rem;
  border: none;
  outline: none;
  border-radius: 0.5rem;
  background-color: var(--dark-cyan);
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-btn:hover {
  background-color: var(--very-dark-cyan);
  cursor: pointer;
}

.cart-btn div {
  font-weight: 500;
  color: var(--white);
  padding-left: 0.5rem;
  padding-bottom: 0.1rem;
  font-weight: 700;
}

/* Frontend Mentor Attribution */
.attribution {
  position: absolute;
  bottom: 1rem;
  right: 25%;
  left: 25%;
  font-size: 0.6875rem;
  text-align: center;
}
.attribution a {
  text-decoration: none;
  color: hsl(228, 56%, 54%);
}

.attribution a:hover {
  color: hsl(228, 89%, 76%);
}

/* Responsive Design */
@media screen and (min-width: 1440px) {
  .card-container {
    width: 40%;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .product-image-mobile {
    display: none;
  }

  .product-image-desktop {
    display: block;
    border-radius: 10px 0px 0px 10px;
    width: 100%;
    height: 100%;
  }

  .details-container {
    padding: 1.8rem;
    border-radius: 0px 10px 10px 0px;
  }

  .product-name {
    width: 98%;
    margin-top: 1rem;
    margin-bottom: 1.3rem;
  }

  .price-container {
    margin-bottom: 1.5rem;
  }
}
